:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon a {
  color: white;
}

.icon a:hover {
  color: #27A776;
  transition: 0.5s;
}


.gallery-item img {
  transition: 0.5s;
}

.gallery-item img:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

